<section id="sobre-mi" class="mb-20 sm:mb-32">
  <div class="flex flex-col items-start text-left gap-6 mb-8">
    <img
      [src]="photoUrl"
      alt="Alejandro Plata Cortés"
      class=" w-28 h-28 sm:w-36 sm:h-36 rounded-sm object-cover flex-shrink-0
             border border-zinc-800" />

    <div>
      <h1 class="text-3xl sm:text-5xl md:text-6xl font-bold mb-3 tracking-tight text-white font-orbitron text-neon">
        Desarrollador Full Stack
      </h1>
      <h2 class="text-lg sm:text-xl md:text-2xl text-zinc-400 font-light">
        Alejandro Plata Cortés
      </h2>
    </div>
  </div>

  <div class="max-w-2xl text-justify text-zinc-300 text-base sm:text-lg leading-relaxed">
    <p>
      Desarrollador Full Stack (Java/Spring &amp; React/Angular) con formación en Biología, lo que
      me aporta una sólida capacidad de análisis y atención al detalle. Recientemente he
      finalizado mis prácticas en NTT Data trabajando con arquitecturas MVC y testing.
    </p>
    <p>
      Apasionado por la creación de soluciones eficientes y con un portfolio de proyectos propios
      listos para producción.
    </p>
  </div>
</section>
